  <html>
  <header id="header_main" class="site-header1a site-header " aria-label="Main Site Header">
    {% load static %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EHS.css' %}">

  <a class="skip-to-content-link" href="#content_main">Skip to main content</a>
    <div class="school-name header-title">
      <a>
        <div class="school-name-inner">
          <span class="first-line"><span class="bolder-line">Everett</span> Public Schools</span>
        </div>
      </a>
    </div>

    <nav id="sitenav_main" class="sitenav sitenav-main nav-group column" aria-label="Main Site Navigation" role="navigation">
      <button id="sitenav_main_mobile_toggle" class="nav-mobile-toggle accessible-megamenu-toggle animated" aria-expanded="false" aria-pressed="false" aria-controls="accessible-megamenu-1709227457283-1"><span class="nav-mobile-toggle-inner">Main Menu Toggle</span></button>
      <ul class="nav-menu accessible-megamenu js-accessible-megamenu" id="accessible-megamenu-1709227457283-1">

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://eh.everettpublicschools.org/" id="accessible-megamenu-1709227457286-2" role="button" aria-controls="accessible-megamenu-1709227457286-3" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Schools</span></a>



          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618393&type=d&pREC_ID=1833299" id="accessible-megamenu-1709227457286-4" role="button" aria-controls="accessible-megamenu-1709227457287-5" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Parents</span></a>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V1I18" id="accessible-megamenu-1709227457288-6" role="button" aria-controls="accessible-megamenu-1709227457288-7" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">District Updates</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V2ISS26" id="accessible-megamenu-1709227457288-8" role="button" aria-controls="accessible-megamenu-1709227457288-9" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Teachers &amp; Staff</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618426&type=d&pREC_ID=2495789" id="accessible-megamenu-1709227457288-10" role="button" aria-controls="accessible-megamenu-1709227457288-11" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Committee</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=2228612&type=d&pREC_ID=1753574" id="accessible-megamenu-1709227457289-12" role="button" aria-controls="accessible-megamenu-1709227457289-13" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Departments</span></a>


          </li>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="/floor1" id="accessible-megamenu-1709227457289-14" role="button" aria-controls="accessible-megamenu-1709227457290-15" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Map</span></a>


        </li>
      </ul>
    </nav>

    <nav id="topbar_nav" class="header-secondary-nav header-links" aria-labelledby="topbar_nav_header">

      <div class="hidden" id="topbar_nav_header">Useful Links</div>
      <ul class="links-list">


    <li class="link-item item-name"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin">Gmail Login</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/pages/PIC">Parent Information Center</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/contact/">School Contacts</a></li>

      </ul>
    </nav>

    <a href="/login" class="edlio-login-link"><span class="edlio-logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.98 366.6"><path d="M334.77 247.52c-.63-4.94-5.66-7.44-10.28-6.85a11.59 11.59 0 00-8 5.43c-23.16 29.34-57.2 46.9-92.85 51.44-43.63 5.57-82.93-7.61-109.26-40.05-6.64-9.83-12.76-21-16.33-33.09-.31-2.48.85-3.88 3.5-4.21 40.32-5.15 142.69-29.55 181.19-48.92 24.25-10 30.9-31.58 28.61-49.51C307.5 92 285.64 67 252.41 54.71l15.81-27.57a10 10 0 00-12.12-13L153.99 43.36l-1.53-35.95A6.94 6.94 0 00140.64 2s-71.27 57.93-90.6 91.53L17.28 72.12A9.67 9.67 0 003.19 81.9s-9.76 66.22 4.85 146.51c13.48 74.06 70.35 110.76 70.35 110.76 29.25 21.26 68.12 31.35 112.25 26.03 65.45-8.37 125.8-51.26 144.15-112.64a14.41 14.41 0 00-.02-5.04zm-248.06-53.7c-.79-6.18-1.47-16.77-.94-23.12 2.52-29 16.31-54.89 42-67.64l13.4-5.12a87 87 0 0112.25-2.47c46.28-5.92 76 31.74 78.72 53.37 1.35 10.5-109.91 44.2-139.66 48-3.32.44-5.46-.55-5.77-3.02z"></path></svg>
  <span class="hidden">Edlio</span></span> Account</a>
  {% load static %}
    <base target="_top">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Everett Public School District</title>

      <link rel="shortcut icon" type="image/png" href="{% static '/images/logo2.png' %}"/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

      <style>
        html, body {
          height: 100%;
          margin: 0;
        }
        .leaflet-container {
          height: 1000px;
          width: 2000px;
          max-width: 100%;
          max-height: 100%;
        }
      </style>


    </header>

<body>

<div id='map'></div>

<script>
  const map = L.map('map').setView([50.7105839, -34.7523184], 40);

  const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 16,
                minZoom: 13.4,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var imageUrl = '{% static '/images/five.png' %}';
  const errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
  const altText = 'Floor 5';
  const latLngBounds = L.latLngBounds([[53.7, -61.19999999], [53.753, -60.99999999]]);

  const imageOverlay = L.imageOverlay(imageUrl, latLngBounds, {
    opacity: 1,
    errorOverlayUrl,
    alt: altText,
    interactive: true
  }).addTo(map);
  map.fitBounds(latLngBounds);

L.Control.Button = L.Control.extend({
    options: {
        position: 'topleft'
    },
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
        var button1 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button2 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button3 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button4 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button5 = L.DomUtil.create('a', 'leaflet-control-button', container);

        button1.href = "/floor1";
        button1.textContent = "1";
        button2.href = "/floor2";
        button2.textContent = "2";
        button3.href = "/floor3";
        button3.textContent = "3";
        button4.href = "/floor4";
        button4.textContent = "4";
        button5.href = "/floor5";
        button5.textContent = "5";

      L.DomEvent.disableClickPropagation(container);

      L.DomEvent.on(button1, 'click', function(){
          button1.href;
      });
      L.DomEvent.on(button2, 'click', function(){
          button2.href;
      });
      L.DomEvent.on(button3, 'click', function(){
          button3.href;
      });
      L.DomEvent.on(button4, 'click', function(){
          button4.href;
      });
      L.DomEvent.on(button5, 'click', function(){
          button5.href; 
      });

        container.title = "Title";

        return container;
    },
    onRemove: function(map) {},
});


  var DAP1 = "$" + "{{ day_a_period_1|default_if_none:'1000' }}"
  var DAP2 = "$" + "{{ day_a_period_2|default_if_none:'1000' }}"
  var DAP3 = "$" + "{{ day_a_period_3|default_if_none:'1000' }}"
  var DAP4 = "$" + "{{ day_a_period_4|default_if_none:'1000' }}"

  var DBP1 = "$" + "{{ day_b_period_1|default_if_none:'1000' }}"
  var DBP2 = "$" + "{{ day_b_period_2|default_if_none:'1000' }}"
  var DBP3 = "$" + "{{ day_b_period_3|default_if_none:'1000' }}"
  var DBP4 = "$" + "{{ day_b_period_4|default_if_none:'1000' }}"


var $5010 = L.marker([53.72533536372232, -61.14989467327554]).addTo(map);
$5010.bindPopup("<b>5010</b><br>Bernard, Aaron<br>English, Richard<br>Kalve, Neeta");

var $5440 = L.marker([53.733108774966894, -61.065853305576]).addTo(map);
$5440.bindPopup("<b>5440</b><br>Pepper, Kimberly<br>McNiff, Chelsea");

var $5590 = L.marker([53.71856131885269, -61.0628611206579]).addTo(map);
$5590.bindPopup("<b>5590</b><br>Pierce, Amanda");

var $5460 = L.marker([53.733108774966894, -61.04633905611016]).addTo(map);
$5460.bindPopup("<b>5460</b><br>St. Juste, Claudy");

var $5470 = L.marker([53.7291068021398, -61.04503810614577]).addTo(map);
$5470.bindPopup("<b>5470</b><br>Thekaekara, Carissa<br>Jurisic, Nevena");

var $5200 = L.marker([53.73434007457846, -61.14703258335386]).addTo(map);
$5200.bindPopup("<b>5200</b><br>Vamos, Garnett");

var $5600 = L.marker([53.7265668910143, -61.06546302058666]).addTo(map);
$5600.bindPopup("<b>5600</b><br>Venezia, Therese");

var $5480 = L.marker([53.733108774966894, -61.04607886611727]).addTo(map);
$5480.bindPopup("<b>5480</b><br>Walsh, Bryan");

var $5450 = L.marker([53.72918376674842, -61.06598340057243]).addTo(map);
$5450.bindPopup("<b>5450</b><br>Lipper, Dana (CHA)<br>Abboud, Winter");

var $5430 = L.marker([53.733339646391315, -61.083416130095245]).addTo(map);
$5430.bindPopup("<b>5430</b><br>Lomas, Susan");

var $5510 = L.marker([53.726335982394545, -61.043607061184936]).addTo(map);
$5510.bindPopup("<b>5510</b><br>Mezoff, Charlotte<br>Erle, John");

var $5560 = L.marker([53.71894623700356, -61.041135256252595]).addTo(map);
$5560.bindPopup("<b>5560</b><br>Nilson, Sandra<br>Bang, Nhan");

var $5307 = L.marker([53.72879894229644, -61.1033206645504]).addTo(map);
$5307.bindPopup("<b>5307</b><br>ODonnell, Alexander");

var $5400 = L.marker([553.733262689390735, -61.10006828963943]).addTo(map);
$5400.bindPopup("<b>5400</b><br>Peary, Desirae<br>Eford, Lisa");

var $5530 = L.marker([53.72402682645259, -61.02825585160514]).addTo(map);
$5530.bindPopup("<b>5530</b><br>Persuitte, Domenick");

var $5550 = L.marker([53.7178684573039, -61.02552385667993]).addTo(map);
$5550.bindPopup("<b>5550</b><br>Fleury, Staci");

var $5570 = L.marker([53.723795903883904, -61.04269639620987]).addTo(map);
$5570.bindPopup("<b>5570</b><br>Hahesy, Brendan");

var $5520 = L.marker([53.72764444780652, -61.029816991562406]).addTo(map);
$5520.bindPopup("<b>5520</b><br>Judd (Pickowicz), Amanda");

var $5465 = L.marker([53.72895287249993, -61.055185515868]).addTo(map);
$5465.bindPopup("<b>5465</b><br>Cunningham, Janice");

var $5540 = L.marker([53.72094775460232, -61.027215091633636]).addTo(map);
$5540.bindPopup("<b>5540</b><br>DiMare, Debra");

var $5500 = L.marker([53.730646067542594, -61.030987846530365]).addTo(map);
$5500.bindPopup("<b>5500</b><br>Dunn, Riley");

var $5580 = L.marker([53.71863830276469, -61.062340740672134]).addTo(map);
$5580.bindPopup("<b>5580</b><br>Fallon, Christine");


  var classesPeriod = [DAP1, DAP2, DAP3, DAP4, DBP1, DBP2, DBP3, DBP4];
  function removeMarkers() {
      for (var markerVar in window) {
          if (markerVar.startsWith('$') && typeof window[markerVar] === 'object' && window[markerVar] instanceof L.Marker) {
              var markerId = markerVar.substring(1); 
              if (!classesPeriod.includes("$" + markerId)) {
                  map.removeLayer(window[markerVar]); 
              }
          }
      }
  }
  removeMarkers();
  
  var control = new L.Control.Button()
  control.addTo(map)
</script>



</body>
</html>
