  <html>
  <header id="header_main" class="site-header1a site-header " aria-label="Main Site Header">
    {% load static %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EHS.css' %}">

  <a class="skip-to-content-link" href="#content_main">Skip to main content</a>
    <div class="school-name header-title">
      <a>
        <div class="school-name-inner">
          <span class="first-line"><span class="bolder-line">Everett</span> Public Schools</span>
        </div>
      </a>
    </div>

    <nav id="sitenav_main" class="sitenav sitenav-main nav-group column" aria-label="Main Site Navigation" role="navigation">
      <button id="sitenav_main_mobile_toggle" class="nav-mobile-toggle accessible-megamenu-toggle animated" aria-expanded="false" aria-pressed="false" aria-controls="accessible-megamenu-1709227457283-1"><span class="nav-mobile-toggle-inner">Main Menu Toggle</span></button>
      <ul class="nav-menu accessible-megamenu js-accessible-megamenu" id="accessible-megamenu-1709227457283-1">

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://eh.everettpublicschools.org/" id="accessible-megamenu-1709227457286-2" role="button" aria-controls="accessible-megamenu-1709227457286-3" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Schools</span></a>



          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618393&type=d&pREC_ID=1833299" id="accessible-megamenu-1709227457286-4" role="button" aria-controls="accessible-megamenu-1709227457287-5" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Parents</span></a>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V1I18" id="accessible-megamenu-1709227457288-6" role="button" aria-controls="accessible-megamenu-1709227457288-7" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">District Updates</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V2ISS26" id="accessible-megamenu-1709227457288-8" role="button" aria-controls="accessible-megamenu-1709227457288-9" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Teachers &amp; Staff</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618426&type=d&pREC_ID=2495789" id="accessible-megamenu-1709227457288-10" role="button" aria-controls="accessible-megamenu-1709227457288-11" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Committee</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=2228612&type=d&pREC_ID=1753574" id="accessible-megamenu-1709227457289-12" role="button" aria-controls="accessible-megamenu-1709227457289-13" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Departments</span></a>


          </li>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="/floor1" id="accessible-megamenu-1709227457289-14" role="button" aria-controls="accessible-megamenu-1709227457290-15" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Map</span></a>


        </li>
      </ul>
    </nav>

    <nav id="topbar_nav" class="header-secondary-nav header-links" aria-labelledby="topbar_nav_header">

      <div class="hidden" id="topbar_nav_header">Useful Links</div>
      <ul class="links-list">


    <li class="link-item item-name"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin">Gmail Login</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/pages/PIC">Parent Information Center</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/contact/">School Contacts</a></li>

      </ul>
    </nav>

    <a href="/login" class="edlio-login-link"><span class="edlio-logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.98 366.6"><path d="M334.77 247.52c-.63-4.94-5.66-7.44-10.28-6.85a11.59 11.59 0 00-8 5.43c-23.16 29.34-57.2 46.9-92.85 51.44-43.63 5.57-82.93-7.61-109.26-40.05-6.64-9.83-12.76-21-16.33-33.09-.31-2.48.85-3.88 3.5-4.21 40.32-5.15 142.69-29.55 181.19-48.92 24.25-10 30.9-31.58 28.61-49.51C307.5 92 285.64 67 252.41 54.71l15.81-27.57a10 10 0 00-12.12-13L153.99 43.36l-1.53-35.95A6.94 6.94 0 00140.64 2s-71.27 57.93-90.6 91.53L17.28 72.12A9.67 9.67 0 003.19 81.9s-9.76 66.22 4.85 146.51c13.48 74.06 70.35 110.76 70.35 110.76 29.25 21.26 68.12 31.35 112.25 26.03 65.45-8.37 125.8-51.26 144.15-112.64a14.41 14.41 0 00-.02-5.04zm-248.06-53.7c-.79-6.18-1.47-16.77-.94-23.12 2.52-29 16.31-54.89 42-67.64l13.4-5.12a87 87 0 0112.25-2.47c46.28-5.92 76 31.74 78.72 53.37 1.35 10.5-109.91 44.2-139.66 48-3.32.44-5.46-.55-5.77-3.02z"></path></svg>
  <span class="hidden">Edlio</span></span> Account</a>
  {% load static %}
    <base target="_top">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Everett Public School District</title>

      <link rel="shortcut icon" type="image/png" href="{% static '/images/logo2.png' %}"/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

      <style>
        html, body {
          height: 100%;
          margin: 0;
        }
        .leaflet-container {
          height: 1000px;
          width: 2000px;
          max-width: 100%;
          max-height: 100%;
        }
      </style>


    </header>

<body>

<div id='map'></div>

<script>
  const map = L.map('map').setView([50.7105839, -34.7523184], 40);

  const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 16,
                minZoom: 13.4,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var imageUrl = '{% static '/images/three.png' %}';
  const errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
  const altText = 'Floor 3';
  const latLngBounds = L.latLngBounds([[53.7, -61.19999999], [53.753, -60.99999999]]);

  const imageOverlay = L.imageOverlay(imageUrl, latLngBounds, {
    opacity: 1,
    errorOverlayUrl,
    alt: altText,
    interactive: true
  }).addTo(map);
  map.fitBounds(latLngBounds);

L.Control.Button = L.Control.extend({
    options: {
        position: 'topleft'
    },
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
        var button1 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button2 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button3 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button4 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button5 = L.DomUtil.create('a', 'leaflet-control-button', container);

        button1.href = "/floor1";
        button1.textContent = "1";
        button2.href = "/floor2";
        button2.textContent = "2";
        button3.href = "/floor3";
        button3.textContent = "3";
        button4.href = "/floor4";
        button4.textContent = "4";
        button5.href = "/floor5";
        button5.textContent = "5";

      L.DomEvent.disableClickPropagation(container);

      L.DomEvent.on(button1, 'click', function(){
          button1.href;
      });
      L.DomEvent.on(button2, 'click', function(){
          button2.href;
      });
      L.DomEvent.on(button3, 'click', function(){
          button3.href;
      });
      L.DomEvent.on(button4, 'click', function(){
          button4.href;
      });
      L.DomEvent.on(button5, 'click', function(){
          button5.href; 
      });

        container.title = "Title";

        return container;
    },
    onRemove: function(map) {},
});

var DAP1 = "$" + "{{ day_a_period_1|default_if_none:'1000' }}"
var DAP2 = "$" + "{{ day_a_period_2|default_if_none:'1000' }}"
var DAP3 = "$" + "{{ day_a_period_3|default_if_none:'1000' }}"
var DAP4 = "$" + "{{ day_a_period_4|default_if_none:'1000' }}"

var DBP1 = "$" + "{{ day_b_period_1|default_if_none:'1000' }}"
var DBP2 = "$" + "{{ day_b_period_2|default_if_none:'1000' }}"
var DBP3 = "$" + "{{ day_b_period_3|default_if_none:'1000' }}"
var DBP4 = "$" + "{{ day_b_period_4|default_if_none:'1000' }}"


var $3590 = L.marker([53.732723986441776, -61.0347606014271]).addTo(map);
$3590.bindPopup("<b>3590</b><br>Backlund, Christopher");

var $3420 = L.marker([53.740496031650046, -61.10592256447917]).addTo(map);
$3420.bindPopup("<b>3420</b><br>Balzotti, Elise");

var $3440 = L.marker([53.740496031650046, -61.08146470514867]).addTo(map);
$3440.bindPopup("<b>3440</b><br>Boudarse, Khadija");

var $3730 = L.marker([53.72741354510439, -61.10930503438659]).addTo(map);
$3730.bindPopup("<b>3730</b><br>Cardona-Suarez, Ruth");

var $3610 = L.marker([53.741496289513705, -61.02890632658733]).addTo(map);
$3610.bindPopup("<b>3610</b><br>Chang, Sung Hwa");

var $3340 = L.marker([53.727798382236784, -61.1354541286708]).addTo(map);
$3340.bindPopup("<b>3340</b><br>Cheffro, Stephanie");

var $3680 = L.marker([53.732877902274474, -61.05999903073624]).addTo(map);
$3680.bindPopup("<b>3680</b><br>Podbelski, Nathan");

var $3480 = L.marker([53.74080380583613, -61.06325140564721]).addTo(map);
$3480.bindPopup("<b>3480</b><br>Rowlinson, Ryan<br>Aquino, John");

var iconOptions5 = L.icon({
  iconUrl: '{% static '/images/band.png' %}',
  iconSize: [43, 43],
})

var $3310 = L.marker([53.73257007004551, -61.15731008807256], {icon: iconOptions5}).addTo(map);
$3310.bindPopup("<b>3310</b><br>Sachetta, Mark");

var $3550 = L.marker([53.73618695637147, -61.0230520517476]).addTo(map);
$3550.bindPopup("<b>3550</b><br>Santos, Wagner");

var $3350 = L.marker([53.72772141509209, -61.1478131533325]).addTo(map);
$3350.bindPopup("<b>3350</b><br>Tocci, Kathryn");

var $3370 = L.marker([53.72749051281265, -61.17305158264166]).addTo(map);
$3370.bindPopup("<b>3370</b><br>Toussaint, Reginald");

var $3410 = L.marker([53.74026519953128, -61.111126364336734]).addTo(map);
$3410.bindPopup("<b>3410</b><br>Valmera, Pierre<br>Kasbaji, Abdellah");

var $3600 = L.marker([53.740496031650046, -61.04165563623835]).addTo(map);
$3600.bindPopup("<b>3600</b><br>Mahoney, Irene<br>Ahern, Jeffrey");

var $3210 = L.marker([53.74026519953128, -61.1303804238097]).addTo(map);
$3210.bindPopup("<b>3210</b><br>Mak, Juliane");

var $3430 = L.marker([53.74034214371176, -61.09668581973203]).addTo(map);
$3430.bindPopup("<b>3430</b><br>McInnis, Sharon");

var $3250 = L.marker([53.739957421400696, -61.15288685819363]).addTo(map);
$3250.bindPopup("<b>3250</b><br>Mendez, Sabrina");

var $3330 = L.marker([53.732416153085694, -61.1327221337456]).addTo(map);
$3330.bindPopup("<b>3330</b><br>OBrien, Eugene");

var $3400 = L.marker([53.74034214371176, -61.11958253910526]).addTo(map);
$3400.bindPopup("<b>3400</b><br>Oreus, Josue");

var $3650 = L.marker([53.72795231610351, -61.043737156181365]).addTo(map);
$3650.bindPopup("<b>3650</b><br>Paradise, Malcolm");

var $3360 = L.marker([53.72741354510439, -61.160952747972836]).addTo(map);
$3360.bindPopup("<b>3360</b><br>Giordano, Mary");

var $3660 = L.marker([53.740496031650046, -61.062991215654336]).addTo(map);
$3660.bindPopup("<b>3660</b><br>Goodman, Janene");

var $3570 = L.marker([53.73764901357408, -61.03827316633094]).addTo(map);
$3570.bindPopup("<b>3570</b><br>Jackson, Alexa");

var $3460 = L.marker([53.74003436614464, -61.081724895141534]).addTo(map);
$3460.bindPopup("<b>3460</b><br>Johnson, Rachel");

var $3720 = L.marker([53.72749051281265, -61.09551496476407]).addTo(map);
$3720.bindPopup("<b>3720</b><br>Kolokithas, Anastasia");

var $3230 = L.marker([53.74041908775134, -61.141438498507]).addTo(map);
$3230.bindPopup("<b>3230</b><br>Colosimo, Sarah");

var $3240 = L.marker([53.736725614942046, -61.13155127877764]).addTo(map);
$3240.bindPopup("<b>3240</b><br>Crofoot, Corey");

var $3500 = L.marker([53.7375720644629, -61.0618203606864]).addTo(map);
$3500.bindPopup("<b>3500</b><br>Davis, Neira");

var $3270 = L.marker([53.73988047651584, -61.165766262841096]).addTo(map);
$3270.bindPopup("<b>3270</b><br>Donato, Donna");

var $3710 = L.marker([53.727567480380024, -61.0779521402448]).addTo(map);
$3710.bindPopup("<b>3710</b><br>Ells, Jillian");

var $3640 = L.marker([53.72772141509209, -61.043737156181365]).addTo(map);
$3640.bindPopup("<b>3640</b><br>English, Richard<br>Simpson, Adam");

var $3200 = L.marker([53.740188255209944, -61.1197126341017]).addTo(map);
$3200.bindPopup("<b>3200</b><br>Perito, Diane");


  var classesPeriod = [DAP1, DAP2, DAP3, DAP4, DBP1, DBP2, DBP3, DBP4];
  function removeMarkers() {
      for (var markerVar in window) {
          if (markerVar.startsWith('$') && typeof window[markerVar] === 'object' && window[markerVar] instanceof L.Marker) {
              var markerId = markerVar.substring(1); 
              if (!classesPeriod.includes("$" + markerId)) {
                  map.removeLayer(window[markerVar]); 
              }
          }
      }
  }
  removeMarkers();
  
  var control = new L.Control.Button()
  control.addTo(map)

</script>



</body>
</html>
