  <html>
  <header id="header_main" class="site-header1a site-header " aria-label="Main Site Header">
    {% load static %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EHS.css' %}">

  <a class="skip-to-content-link" href="#content_main">Skip to main content</a>
    <div class="school-name header-title">
      <a>
        <div class="school-name-inner">
          <span class="first-line"><span class="bolder-line">Everett</span> Public Schools</span>
        </div>
      </a>
    </div>

    <nav id="sitenav_main" class="sitenav sitenav-main nav-group column" aria-label="Main Site Navigation" role="navigation">
      <button id="sitenav_main_mobile_toggle" class="nav-mobile-toggle accessible-megamenu-toggle animated" aria-expanded="false" aria-pressed="false" aria-controls="accessible-megamenu-1709227457283-1"><span class="nav-mobile-toggle-inner">Main Menu Toggle</span></button>
      <ul class="nav-menu accessible-megamenu js-accessible-megamenu" id="accessible-megamenu-1709227457283-1">

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://eh.everettpublicschools.org/" id="accessible-megamenu-1709227457286-2" role="button" aria-controls="accessible-megamenu-1709227457286-3" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Schools</span></a>



          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618393&type=d&pREC_ID=1833299" id="accessible-megamenu-1709227457286-4" role="button" aria-controls="accessible-megamenu-1709227457287-5" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Parents</span></a>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V1I18" id="accessible-megamenu-1709227457288-6" role="button" aria-controls="accessible-megamenu-1709227457288-7" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">District Updates</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/V2ISS26" id="accessible-megamenu-1709227457288-8" role="button" aria-controls="accessible-megamenu-1709227457288-9" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Teachers &amp; Staff</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=1618426&type=d&pREC_ID=2495789" id="accessible-megamenu-1709227457288-10" role="button" aria-controls="accessible-megamenu-1709227457288-11" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Committee</span></a>


          </li>

          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="https://www.everettpublicschools.org/apps/pages/index.jsp?uREC_ID=2228612&type=d&pREC_ID=1753574" id="accessible-megamenu-1709227457289-12" role="button" aria-controls="accessible-megamenu-1709227457289-13" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">Departments</span></a>


          </li>


          <li class="nav-item accessible-megamenu-top-nav-item">
            <a href="/floor1" id="accessible-megamenu-1709227457289-14" role="button" aria-controls="accessible-megamenu-1709227457290-15" aria-expanded="false" tabindex="0" class=""><span class="nav-item-inner">School Map</span></a>


        </li>
      </ul>
    </nav>

    <nav id="topbar_nav" class="header-secondary-nav header-links" aria-labelledby="topbar_nav_header">

      <div class="hidden" id="topbar_nav_header">Useful Links</div>
      <ul class="links-list">


    <li class="link-item item-name"><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin">Gmail Login</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/pages/PIC">Parent Information Center</a></li>

    <li class="link-item item-name"><a href="https://www.everettpublicschools.org/apps/contact/">School Contacts</a></li>

      </ul>
    </nav>

    <a href="/login" class="edlio-login-link"><span class="edlio-logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.98 366.6"><path d="M334.77 247.52c-.63-4.94-5.66-7.44-10.28-6.85a11.59 11.59 0 00-8 5.43c-23.16 29.34-57.2 46.9-92.85 51.44-43.63 5.57-82.93-7.61-109.26-40.05-6.64-9.83-12.76-21-16.33-33.09-.31-2.48.85-3.88 3.5-4.21 40.32-5.15 142.69-29.55 181.19-48.92 24.25-10 30.9-31.58 28.61-49.51C307.5 92 285.64 67 252.41 54.71l15.81-27.57a10 10 0 00-12.12-13L153.99 43.36l-1.53-35.95A6.94 6.94 0 00140.64 2s-71.27 57.93-90.6 91.53L17.28 72.12A9.67 9.67 0 003.19 81.9s-9.76 66.22 4.85 146.51c13.48 74.06 70.35 110.76 70.35 110.76 29.25 21.26 68.12 31.35 112.25 26.03 65.45-8.37 125.8-51.26 144.15-112.64a14.41 14.41 0 00-.02-5.04zm-248.06-53.7c-.79-6.18-1.47-16.77-.94-23.12 2.52-29 16.31-54.89 42-67.64l13.4-5.12a87 87 0 0112.25-2.47c46.28-5.92 76 31.74 78.72 53.37 1.35 10.5-109.91 44.2-139.66 48-3.32.44-5.46-.55-5.77-3.02z"></path></svg>
  <span class="hidden">Edlio</span></span> Account</a>
  {% load static %}
    <base target="_top">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Everett Public School District</title>

      <link rel="shortcut icon" type="image/png" href="{% static '/images/logo2.png' %}"/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

      <style>
        html, body {
          height: 100%;
          margin: 0;
        }
        .leaflet-container {
          height: 1000px;
          width: 2000px;
          max-width: 100%;
          max-height: 100%;
        }
      </style>


    </header>

<body>

<div id='map'></div>

<script>
  const map = L.map('map').setView([50.7105839, -34.7523184], 40);

  const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 16,
                minZoom: 13.4,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var imageUrl = '{% static '/images/four.png' %}';
  const errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
  const altText = 'Floor 4';
  const latLngBounds = L.latLngBounds([[53.7, -61.19999999], [53.753, -60.99999999]]);

  const imageOverlay = L.imageOverlay(imageUrl, latLngBounds, {
    opacity: 1,
    errorOverlayUrl,
    alt: altText,
    interactive: true
  }).addTo(map);
  map.fitBounds(latLngBounds);

L.Control.Button = L.Control.extend({
    options: {
        position: 'topleft'
    },
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
        var button1 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button2 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button3 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button4 = L.DomUtil.create('a', 'leaflet-control-button', container);
        var button5 = L.DomUtil.create('a', 'leaflet-control-button', container);

        button1.href = "/floor1";
        button1.textContent = "1";
        button2.href = "/floor2";
        button2.textContent = "2";
        button3.href = "/floor3";
        button3.textContent = "3";
        button4.href = "/floor4";
        button4.textContent = "4";
        button5.href = "/floor5";
        button5.textContent = "5";

      L.DomEvent.disableClickPropagation(container);

      L.DomEvent.on(button1, 'click', function(){
          button1.href;
      });
      L.DomEvent.on(button2, 'click', function(){
          button2.href;
      });
      L.DomEvent.on(button3, 'click', function(){
          button3.href;
      });
      L.DomEvent.on(button4, 'click', function(){
          button4.href;
      });
      L.DomEvent.on(button5, 'click', function(){
          button5.href; 
      });

        container.title = "Title";

        return container;
    },
    onRemove: function(map) {},
});

var DAP1 = "$" + "{{ day_a_period_1|default_if_none:'1000' }}"
var DAP2 = "$" + "{{ day_a_period_2|default_if_none:'1000' }}"
var DAP3 = "$" + "{{ day_a_period_3|default_if_none:'1000' }}"
var DAP4 = "$" + "{{ day_a_period_4|default_if_none:'1000' }}"

var DBP1 = "$" + "{{ day_b_period_1|default_if_none:'1000' }}"
var DBP2 = "$" + "{{ day_b_period_2|default_if_none:'1000' }}"
var DBP3 = "$" + "{{ day_b_period_3|default_if_none:'1000' }}"
var DBP4 = "$" + "{{ day_b_period_4|default_if_none:'1000' }}"

var $4440 = L.marker([53.73441702960667, -61.078732710223434]).addTo(map);
$4440.bindPopup("<b>4440</b><br>Alphonse, Christine<br>Callahan, Timothy");

var $4510 = L.marker([53.735032664760425, -61.02591414166923]).addTo(map);
$4510.bindPopup("<b>4510</b><br>Bailey, Wayne");

var $4590 = L.marker([53.71817639717913, -61.03554117140573]).addTo(map);
$4590.bindPopup("<b>4590</b><br>Bavaro, Jamie");

var $4580 = L.marker([53.7174835292894, -61.01992977183306]).addTo(map);
$4580.bindPopup("<b>4580</b><br>Bertocchi, William");

var $4550 = L.marker([53.72833714830461, -61.023442336736906]).addTo(map);
$4550.bindPopup("<b>4550</b><br>Brogna, Amy<br>Spencer, Candice");

var $4490 = L.marker([53.73464789384593, -61.039183831306]).addTo(map);
$4490.bindPopup("<b>4490</b><br>Buckley, Christina");

var $4630 = L.marker([53.7271826411342, -61.061169885704196]).addTo(map);
$4630.bindPopup("<b>4630</b><br>Canillas, Marc");

var $4460 = L.marker([53.730107331062165, -61.06247083566858]).addTo(map);
$4460.bindPopup("<b>4460</b><br>Coughlin, Christopher");

var $4530 = L.marker([53.731954398824975, -61.0247432867013]).addTo(map);
$4530.bindPopup("<b>4530</b><br>Cunningham, Haley");

var $4700 = L.marker([53.71840735060601, -61.0996780046501]).addTo(map);
$4700.bindPopup("<b>4700</b><br>DeMarzo, Evan<br>Dougan, Josephine");

var $4500 = L.marker([53.72987644188577, -61.038793546316704]).addTo(map);
$4500.bindPopup("<b>4500</b><br>Devino, Stephenie");

var $4620 = L.marker([53.72402682645259, -61.061169885704196]).addTo(map);
$4620.bindPopup("<b>4620</b><br>Domingues, Beatris");

var $4450 = L.marker([53.73464789384593, -61.061950455682826]).addTo(map);
$4450.bindPopup("<b>4450</b><br>Kendrick, Andrea<br>Nightingale, Jasna");

var $4600 = L.marker([53.72972251506372, -61.03905373630957]).addTo(map);
$4600.bindPopup("<b>4600</b><br>Lent, Mark");

var $4570 = L.marker([53.72056285476939, -61.02227148176897]).addTo(map);
$4570.bindPopup("<b>4570</b><br>Macwilliam, Carolyn");

var $4480 = L.marker([53.73457093924041, -61.03905373630957]).addTo(map);
$4480.bindPopup("<b>4480</b><br>McHugh, Brendan");

var $4610 = L.marker([53.71894623700356, -61.059218460757606]).addTo(map);
$4610.bindPopup("<b>4610</b><br>Megginson, William");

var $4560 = L.marker([53.724796559189805, -61.02227148176897]).addTo(map);
$4560.bindPopup("<b>4560</b><br>Oppedisano, Dana");

var $4710 = L.marker([53.71848433479979, -61.08055404017359]).addTo(map);
$4710.bindPopup("<b>4710</b><br>Pierce, Briana");

var $4540 = L.marker([53.726720829389656, -61.03905373630957]).addTo(map);
$4540.bindPopup("<b>4540</b><br>Ruka, Ida");

var $4430 = L.marker([53.727105672862365, -61.060519410721994]).addTo(map);
$4430.bindPopup("<b>4430</b><br>Waterman, Shawn");


var iconOptions4 = L.icon({
  iconUrl: '{% static '/images/gym.png' %}',
  iconSize: [63, 63],
})

var $4200 = L.marker([53.72764444780652, -61.14924419829334], {icon: iconOptions4}).addTo(map);
$4200.bindPopup("<b>4200</b><br>Troyanovsky, Rachel<br>Love, Malik<br>Miller, Christopher<br>Levine, Joel<br>Gli, Amanda<br>Gardella, Richard<br>Gallagher, Steven<br>Gallagher, DeAnn<br>Figaro, Lucina");

var classesPeriod = [DAP1, DAP2, DAP3, DAP4, DBP1, DBP2, DBP3, DBP4];
function removeMarkers() {
  for (var markerVar in window) {
    if (markerVar.startsWith('$') && typeof window[markerVar] === 'object' && window[markerVar] instanceof L.Marker) {
      var markerId = markerVar.substring(1); 
      if (!classesPeriod.includes("$" + markerId)) {
        map.removeLayer(window[markerVar]); 
      }
    }
  }
}
  
removeMarkers();
  
var control = new L.Control.Button()
control.addTo(map)

</script>



</body>
</html>
